.question {
	//border: 1px solid red;
	margin: 1px;
	padding: 5px;
	.other {
		display:none;
	}
	.question-title {
		//border: 1px solid orange;
		font-weight:bold;
		font-family:sans-serif;
		font-size:larger;
		padding-bottom: 2px;
	}

	.question-options {
		//border:1px solid green;
		label {
			margin-right: 2em;
		}
		input {

		}
	}

	.question-answer {

	}

}
