.question {

ul {
  list-style-type:none;
  padding-left:1em;
  li {
    margin-bottom:3px;
  }
}

  fieldset {
    border:none;
    label {
      display:block;
    }
    .other {
      margin-left:1.6em;
    }
    input:disabled {
      color:#999;
      background-color:#DDD;
    }
  }

}
