.question {
	margin: 1px;
	padding: 5px;

	.question-label {
		font-weight:bold;
		font-family:sans-serif;
		font-size:larger;
		padding-bottom: 2px;
	}

	.question-options {
		label {
			display:block;
		}
		input {
			margin-left: 1em;
		}
		.other {
			margin-left: 1.8em;
		}
		input:disabled {
			color:#999;
			background-color:#DDD;
		}
	}

	.question-answer {

	}

}

